body 
{
	font-size:9pt;
}

#SearchTable
{
	border:solid 1px #CCC;
}
#SearchTable td
{
	border-width:1px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:2px;
	padding-top:2px;
}
#SearchTable #SearchHeader
{
	background-color:#507CD1;
	color:White ;
	font-weight:bolder;
	font-size:10pt;
}
#SearchTable #SearchFooter
{
	background-color:#507CD1;
	font-size:10pt;
}
