<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>    
    <add name="ResouceCollector" connectionString="Server=127.0.0.1;Database=resourcecollector; User=root;Password=111" providerName="mysql.data"/>   
	<add name="YoungRunMIS" connectionString="Server=localhost;Database=YoungRunMIS; User=root;Password=111" providerName="mysql.data"/>   
  </connectionStrings>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
<appSettings>
	<!-- 登录时的配置文件选项 -->
	<add key="LogOnTo" value="Config" dispaly="主服务器"/>
	<add key="LogOnTo" value="MySqlExample" dispaly="MySql数据库Example"/>
	<add key="LogOnTo" value="WebService" dispaly="WebService"/>
	<add key="LogOnTo" value="P2PClient02" dispaly="从服务器02"/>
	<add key="LogOnTo" value="P2PClient03" dispaly="从服务器03"/>
	
	<add key="DefaultLogOnTo" value="Config"/>
	
	<add key="CurrentUserName" value="Administrator"/>
	<add key="CurrentPassword" value="2A1B132C0E64FA299B014B39F7DE5C2F"/>
	<add key="RememberPassword" value="True"/>
	<add key="AllowNullPassword" value="False"/>
	
	<add key="RecordLog" value="True"/>
	<add key="PersistCookie" value="True"/>
	
	<!-- 客户等相关信息配置 -->
	<add key="CustomerCompanyName" value="杭州海日涵科技有限公司"/>
	<add key="ConfigurationFrom" value="UserConfig"/>
	<add key="SoftName" value="DotNet"/>
	<add key="SoftFullName" value="走火入魔C#.NET通用快速开发架构"/>
	<add key="Version" value="3.3" />
	<add key="RootMenuCode" value="DotNet.Common"/>
	<add key="CurrentLanguage" value="zh-CN"/>
	
	<!-- 用户是否需要配置模块菜单权限 -->
	<add key="UseModulePermission" value="True"/>
	<!-- 启用分级管理范围权限设置 -->
	<add key="UsePermissionScope" value="True"/>
	<!-- 启用逐级授权 -->
    <add key="UseLicensedPermission" value="True"/>
    <!-- 用户表字段权限的开关 -->
    <add key="UseTableColumnsPermission" value="True"/>

    <!-- 自动登录 -->
    <add key="AutoLogOn" value="False"/>
    <!-- 登录窗体包 -->
    <add key="LogOnAssembly" value="DotNet.WinForm.LogOn"/>
    <!-- 登录窗体名称 -->
    <add key="LogOnForm" value="FrmLogOnByName"/>
    <!-- 主程序名称 -->
    <add key="MainForm" value="SDIMainForm"/>
    <!-- 默认加载用户 -->
    <add key="LoadUser" value="True"/>
    <!-- 允许用户注册 -->
    <add key="AllowUserRegister" value="False"/>

    <!-- 不检查在线状态，允许重复登录 -->
    <add key="CheckOnLine" value="False"/>
    <!-- 加密的方式存储密码 -->
    <add key="EncryptPassword" value="True"/>    

    <add key="RegisterKey" value="125O8O9O4O2O1O371O272O120O79O75O39O32O14O12O4O2O1O1O1O0O0O0O0O11O415O353O572O1293O793O1955O1616O8709O12046O26173O24945O67637O49437O207130O118290O433900O569186O281334O379729O2310391O2168260O2335649O2370981"/>

    <add key="ServiceFactory" value="ServiceFactory"/>
    <add key="ServicePath" value="DotNet.Service"/>

    <add key="DbHelperAssmely" value="DotNet.DbUtilities"/>
    <add key="EncryptDbConnection" value="False"/>

    <add key="DataBaseType" value="SqlServer"/>
    <add key="DbHelperClass" value="DotNet.DbUtilities.SqlHelper"/>
    <add key="UserCenterDbConnection" value="Data Source=localhost;Initial Catalog=UserCenterV33;Integrated Security=SSPI;"/>
    <add key="BusinessDbConnection" value="Data Source=localhost;Initial Catalog=UserCenterV33;Integrated Security=SSPI;"/>

    <!-- 软件的错误报告发给谁 -->
    <add key="ErrorReportTo" value="Jirigala_bao@hotmail.com, 252056973@QQ.COM"/>
    <!-- 发出错误邮箱的地址 -->
    <add key="ErrorReportMailUserName" value="Jirigala@gmail.com"/>
    <!-- 发出错误邮箱的密码 -->
    <add key="ErrorReportMailPassword" value="19780519"/>    
</appSettings>
</configuration>