<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<appSettings>
	<add key="DefaultLogOnTo" value="Config"/>	
	<add key="CurrentUserName" value="Administrator"/>
	<add key="CurrentPassword" value="2A1B132C0E64FA299B014B39F7DE5C2F"/>
	<add key="RememberPassword" value="True"/>
	<add key="AllowNullPassword" value="False"/>	
	<add key="RecordLog" value="True"/>
	<add key="PersistCookie" value="appmin"/>	
	<add key="UseModulePermission" value="True"/>
	<add key="UsePermissionScope" value="True"/>
    <add key="UseLicensedPermission" value="True"/>   
    <add key="UseTableColumnsPermission" value="True"/>   
</appSettings>
</configuration>