<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <diagnostics performanceCounters="All" />
    <services>
      <service name="DotNet.Business.ExceptionService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/ExceptionService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IExceptionService">
        </endpoint>
      </service>
      <service name="DotNet.Business.FileService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/FileService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IFileService">
        </endpoint>
      </service>
      <service name="DotNet.Business.FolderService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/FolderService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IFolderService">
        </endpoint>
      </service>
      <service name="DotNet.Business.ItemDetailsService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/ItemDetailsService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IItemDetailsService">
        </endpoint>
      </service>
      <service name="DotNet.Business.ItemsService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/ItemsService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IItemsService">
        </endpoint>
      </service>
      <service name="DotNet.Business.LogOnService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/LogOnService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.ILogOnService">
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="DotNet.Business.ILogOnService" />
      </service>
      <service name="DotNet.Business.LogService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/LogService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.ILogService">
        </endpoint>
      </service>
      <service name="DotNet.Business.MessageService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/MessageService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IMessageService">
        </endpoint>
      </service>
      <service name="DotNet.Business.ModuleService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/ModuleService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IModuleService">
        </endpoint>
      </service>
      <service name="DotNet.Business.OrganizeService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/OrganizeService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IOrganizeService">
        </endpoint>
      </service>
      <service name="DotNet.Business.ParameterService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/ParameterService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IParameterService">
        </endpoint>
      </service>
      <service name="DotNet.Business.PermissionItemService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/PermissionItemService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IPermissionItemService">
        </endpoint>
      </service>
      <service name="DotNet.Business.PermissionService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/PermissionService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IPermissionService">
        </endpoint>
      </service>
      <service name="DotNet.Business.RoleService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/RoleService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IRoleService">
        </endpoint>
      </service>
      <service name="DotNet.Business.SequenceService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/SequenceService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.ISequenceService">
        </endpoint>
      </service>
      <service name="DotNet.Business.StaffService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/StaffService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IStaffService">
        </endpoint>
      </service>
      <service name="DotNet.Business.UserService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/UserService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IUserService">
        </endpoint>
      </service>
      <service name="DotNet.Business.UserCenterDbHelperService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/UserCenterDbHelperService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IDbHelperService">
        </endpoint>
      </service>
      <service name="DotNet.Business.BusinessDbHelperService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/BusinessDbHelperService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IDbHelperService">
        </endpoint>
      </service>
      <service name="DotNet.Business.WorkFlowActivityAdminService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/WorkFlowActivityAdminService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IWorkFlowActivityAdminService">
        </endpoint>
      </service>
      <service name="DotNet.Business.WorkFlowCurrentService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/WorkFlowCurrentService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IWorkFlowCurrentService">
        </endpoint>
      </service>
      <service name="DotNet.Business.WorkFlowProcessAdminService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/WorkFlowProcessAdminService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple"  contract="DotNet.Business.IWorkFlowProcessAdminService">
        </endpoint>
      </service>
      <service name="DotNet.Business.TableColumnsService" behaviorConfiguration="Internet">
        <endpoint address="net.tcp://127.0.0.1:8888/DotNet.Business/TableColumnsService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.ITableColumnsService">
        </endpoint>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Internet">
          <serviceCredentials>
            <!-- x509憑證製作            
            makecert -r -pe -n "CN=jirigala-PC" -ss My -sky exchange
            makecert -sr LocalMachine -ss My -n CN=jirigala-PC -sky exchange -pe            
            makecert.exe -sr LocalMachine -ss My -a sha1 -n CN=jirigala-PC -sky exchange –pe
            
            makecert -r -pe -n "CN=220.133.57.144" -ss My -sky exchange
            makecert -sr LocalMachine -ss My -n CN=ArnoWCF -sky exchange -pe            
            makecert.exe -sr LocalMachine -ss My -a sha1 -n CN=ArnoWCF -sky exchange –pe
            
            <serviceCertificate storeName="My" storeLocation="CurrentUser" x509FindType="FindBySubjectName" findValue="220.133.57.144" />
            <clientCertificate >
              <authentication certificateValidationMode="None"  />
            </clientCertificate >
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="DotNet.WCFHost.UserNamePasswordValidator,DotNet.WCFHost"    />
            -->
          </serviceCredentials>
          <!--
					<serviceMetadata httpGetEnabled="False" />
          -->
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentInstances="10" maxConcurrentSessions="26"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingSmiple" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <!-- 无任何加密模式-->
          <security mode="None" >
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security >
          <!-- 安全认证模式：Message，客戶端驗證類型：憑證
          <security mode="Message" >
            <message clientCredentialType="Certificate" />
          </security >
          -->
          <!-- 安全認證模式：Transport，客戶端驗證類型：憑證
          <security mode="Transport" >
            <transport clientCredentialType="Certificate" />
          </security >
          -->
          <!-- 安全認證模式：Message，客戶端驗證類型：用户密碼認證
          <security mode="Message" >
            <message clientCredentialType="UserName" />
          </security >
          -->
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>