<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/ExceptionService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IExceptionService" name="DotNet.Business.ExceptionService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/FileService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IFileService" name="DotNet.Business.FileService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/FolderService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IFolderService" name="DotNet.Business.FolderService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/ItemDetailsService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IItemDetailsService" name="DotNet.Business.ItemDetailsService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/ItemsService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IItemsService" name="DotNet.Business.ItemsService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/LogOnService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.ILogOnService" name="DotNet.Business.LogOnService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/LogService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.ILogService" name="DotNet.Business.LogService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/MessageService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IMessageService" name="DotNet.Business.MessageService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/ModuleService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IModuleService" name="DotNet.Business.ModuleService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/OrganizeService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IOrganizeService" name="DotNet.Business.OrganizeService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/ParameterService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IParameterService" name="DotNet.Business.ParameterService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/PermissionItemService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IPermissionItemService" name="DotNet.Business.PermissionItemService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/PermissionService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IPermissionService" name="DotNet.Business.PermissionService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/RoleService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IRoleService" name="DotNet.Business.RoleService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/SequenceService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.ISequenceService" name="DotNet.Business.SequenceService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/StaffService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IStaffService" name="DotNet.Business.StaffService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/UserService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IUserService" name="DotNet.Business.UserService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/BusinessDbHelperService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IDbHelperService" name="DotNet.Business.BusinessDbHelperService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/UserCenterDbHelperService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IDbHelperService" name="DotNet.Business.UserCenterDbHelperService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/WorkFlowActivityAdminService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IWorkFlowActivityAdminService" name="DotNet.Business.WorkFlowActivityAdminService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/WorkFlowCurrentService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IWorkFlowCurrentService" name="DotNet.Business.WorkFlowCurrentService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/WorkFlowProcessAdminService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.IWorkFlowProcessAdminService" name="DotNet.Business.WorkFlowProcessAdminService"></endpoint>
      <endpoint address="net.tcp://jirigala-PC:8888/DotNet.Business/TableColumnsService/" binding="netTcpBinding" bindingConfiguration="netTcpBindingSmiple" contract="DotNet.Business.ITableColumnsService" name="DotNet.Business.TableColumnsService"></endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingSmiple" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="00:00:05" openTimeout="00:00:02" receiveTimeout="10:10:10" sendTimeout="00:02:00">
          <security mode="Message" >
            <message clientCredentialType="UserName"    />
          </security >
        </binding>
      </netTcpBinding>
    </bindings>

  </system.serviceModel>
</configuration>