body 
{
	font-size:10pt;
	margin:0 0 0 0 ;
}

#InsertTable
{
	border:solid 1px #CCC;
	width:100%;
	border-collapse:collapse;
}
#InsertTable td
{
	border:solid 1px #DDD;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:2px;
	padding-top:2px;
	text-align:left;
}
#InsertTable #InsertHeader
{
	background-color:#507CD1;
	color:White ;
	font-weight:bolder;
	height:25px;
}
#InsertTable #InsertFooter
{
	background-color:#507CD1;
	height:30px;
	text-align:center;
}
#InsertTable .InsertTitle
{
	background-color:#5582C2;
	color:White ;
	font-weight:bolder;
	height:25px;
	text-align:right;
}


#InsertTable2
{
	border:solid 1px #CCC;
	width:100%;
	border-collapse:collapse;
}
#InsertTable2 td
{
	border:solid 1px #DDD;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:2px;
	padding-top:2px;
	text-align:left;
}
#InsertTable2 #InsertHeader
{
	background-color:#507CD1;
	color:White ;
	font-weight:bolder;
	height:25px;
}
#InsertTable2 #InsertFooter
{
	background-color:#507CD1;
	height:30px;
	text-align:center;
}
#InsertTable2 .InsertTitle
{
	background-color:#5582C2;
	color:White ;
	font-weight:bolder;
	height:25px;
	text-align:right;
}
