<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="false"/>
  </appSettings>
  <system.web>
    <httpHandlers>
      <add verb="GET" path="VerifyCodeImage.aspx" type="XControl.VerifyCodeImageHttpHandler, XControl"/>
      <add verb="GET,POST" path="Message.ashx" type="NewLife.IO.StreamHttpHandler, NewLife.Core"/>
    </httpHandlers>
    <httpModules>
        <!--页面执行时间模块，用于在页面中输出页面执行时间和查询执行次数-->
        <add name="DbRunTimeModule" type="XCode.Web.DbRunTimeModule,XCode"/>
      </httpModules>
    </system.web>
</configuration>
