BODY
{
    overflow: hidden;
    behavior: url(/_common/styles/dialogs.htc);
}
INPUT_
{
    font-size: 8pt;
    font-family: Verdana;
    width: 100%;
    height: 19px;
    border: 1px solid #7b9ebd;
}
INPUT.ro, TEXTAREA.ro, DIV.ro, SPAN.ro
{
    background-color: #eeeeee;
    border-color: #cccccc;
}
INPUT.radio
{
    width: 16px;
    border: 0px;
    cursor: hand;
}
INPUT.checkbox
{
    height: 12px;
    width: 16px;
    border: 0px;
    cursor: hand;
}
LABEL
{
    cursor: hand;
}
BUTTON
{
    width: 80px;
}
TD.main
{
    height: 100%;
    vertical-align: top;
    border-bottom: 1px solid #cccccc;
    padding: 15px;
}
TD.buttons
{
    text-align: right;
    border-top: 1px solid #ffffff;
    padding: 10px;
    height: 32px;
}
TD.header
{
    border-right: #00377a 1px solid;
    border-top: #abc0e7 1px solid;
    font-size: 12pt;
    vertical-align: top;
    border-left: #abc0e7 1px solid;
    color: #ffffff;
    border-bottom: #00377a 1px solid;
    font-family: ו;
    height: 50px;
    background-color: #7288ac;
}
TD.hand
{
    cursor: hand;
}
TD.ListItem
{
    cursor: hand;
    padding: 3px;
}
DIV.header
{
    padding-left: 6px;
    font-weight: bold;
    font-size: 11pt;
    font-family: ו;
}
DIV.ItemList
{
    height: 100%;
    overflow-y: scroll;
    background-color: #FFFFFF;
    border: 1px solid #949E9C;
}
TD.req
{
    font-weight: bold;
    color: #990000;
}
DIV.headerdesc
{
    padding-top: 4px;
    padding-left: 15px;
}
DIV.desc
{
    padding-top: 4px;
    padding-left: 6px;
}
DIV.tab
{
    padding: 10px;
}
