body
{
    font-family: ו;
    margin: 0 auto;
}
img
{
    border: 0;
}
A:link
{
    color: #000000;
    text-decoration: none;
}
A:active
{
    color: #000000;
    text-decoration: none;
}
A:visited
{
    color: #000000;
    text-decoration: none;
}
A:hover
{
    color: #ff0000;
    text-decoration: none;
}
td
{
    font-size: 10pt;
    line-height: 25px;
}

table
{
    cursor: default;
}

button
{
    border: #7b9ebd 1px solid;
    padding: 5px auto;
    font-size: 10pt;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr=#ffffff, EndColorStr=#EBEBE5);
    cursor: hand;
    font-family: Tahoma, ו;
}

table.stdTable
{
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.leftBlank
{
    padding-left: 8px;
}
.rightBlank
{
    padding-right: 8px;
}
.hidden
{
    display: none;
}
.center
{
    margin: 0 auto;
}
.divFixd
{
    width: 20px;
    height: 100%;
    line-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 111111;
    filter: alpha(opacity=0); /*IE*/
    -moz-opacity: 0; /*MOZ , FF*/
    opacity: 0; /*CSS3, FF1.5*/
    cursor: pointer;
    background-image: url('../../Themes/Blue/Images/Home/a.png');
    background-repeat: repeat-y;
}

.show
{
    display: block !important;
}
.hidden
{
    display: none !important;
}
