<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AuthorityConn" connectionString="Server=127.0.0.1;Database=Authority; User=root;Password=111" providerName="mysql.data"/>
    <add name="ResouceCollector" connectionString="Server=127.0.0.1;Database=resourcecollector; User=root;Password=111" providerName="mysql.data"/>
    <add name="YoungRunMIS" connectionString="Server=localhost;Database=YoungRunMIS; User=root;Password=111" providerName="mysql.data"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
<appSettings>		
	<add key="CustomerCompanyName" value="公司名称"/>
	<add key="ConfigurationFrom" value="UserConfig"/>
	<add key="SoftName" value="DotNet"/>
	<add key="SoftFullName" value="管理系统"/>
	<add key="Version" value="3.3" />
	<add key="RootMenuCode" value="DotNet.Common"/>
	<add key="CurrentLanguage" value="zh-CN"/>
	<add key="LogOnTo" value="Config" />
	<add key="LogOnTo" value="MySqlExample"/>
	<add key="LogOnTo" value="WebService"/>
	<add key="LogOnTo" value="P2PClient02" />
	<add key="LogOnTo" value="P2PClient03"/>
</appSettings>
</configuration>