<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <connectionStrings>
    <add name="LotTick" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=LotteryTicket.mdb;Persist Security Info=False"/>
    <add name="YoungRunMIS" connectionString="Server=192.168.1.30;Database=YoungRunMIS; User=root;Password=111" providerName="mysql.data"/>
	<add name="JYGL" connectionString="Server=localhost;Database=jygl; User=root;Password=111" providerName="mysql.data"/>
	<add name="YoungRunST" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=ST.mdb;Persist Security Info=False"/>
    <add name="mssql" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>