<?xml version="1.0"?>
<configuration>  
    <connectionStrings>
      <add name="Common" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=Common.mdb;Persist Security Info=False"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
