<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation defaultLanguage="c#">
			<assemblies>
				<add assembly="CuteEditor,Version=6.2.0.0,Culture=Neutral,PublicKeyToken=3858aa6802b1223a"/>
			</assemblies>
		</compilation>
		<pages autoEventWireup="false"/>
	</system.web>
</configuration>
