<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig 
  xmlns="http://www.esse.com.cn/dataMapper" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<settings>
		<setting useStatementNamespaces="false"/>
	</settings>	
	<sqlMaps>
		<sqlMap embedded="BasePermissionEntity.xml, DotNet.Business"/>
  </sqlMaps>
</sqlMapConfig>