<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LotTick" connectionString="Data Source=.;Initial Catalog=LotTick;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="Common" connectionString="Data Source=.;Initial Catalog=Common;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="Common2" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=com.mdb;Persist Security Info=False"/>
    <add name="Common3" connectionString="Server=.;Database=common;Uid=root;Pwd=yrshabc-123;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
