
body{
	font-size:14px;
	background:url(../img/bg.jpg) repeat;
	}




#articleList li{
	margin-right:5px;
	line-height:30px;
	list-style:cycle;
	font-size:18px;
	}
#articleList li a{
	color:#333;
	text-decoration:none;
	}
#articleList li a:hover{
	text-decoration:underline;
	}