<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--日志配置-->
    <!--是否启用全局调试。默认为不启用-->
    <add key="NewLife.Debug" value="true"/>
    <!--日志目录。默认为当前目录下的Log文件夹。生产环境建议输出到站点外单独的Log目录-->
    <add key="NewLife.LogPath" value="Log"/>
    <!--临时目录。默认为当前目录下的XTemp文件夹。生产环境建议输出到站点外单独的XTemp目录-->
    <add key="NewLife.TempPath" value="..\WebData\XTemp"/>

    <!--XCode配置-->
    <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
    <add key="XCode.Debug" value="true"/>
    <!--设置SQL输出的单独目录，默认为空，SQL输出到当前日志中。生产环境建议输出到站点外单独的SqlLog目录-->
    <add key="XCode.SQLPath" value=""/>
    <!--是否启用数据架构，默认不启用。数据架构可以实现通过实体类反向更新数据库结构，不启用时，仅把更新SQL写入日志，如果留空则不做检查-->
    <add key="XCode.Schema.Enable" value="true"/>
    <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
    <add key="XCode.Schema.NoDelete" value="false"/>
    <!--要排除的链接名，多个用逗号分隔，默认空。-->
    <add key="XCode.Schema.Exclude" value=""/>
    <!--连接名映射，把实体类中的Test2和Test3连接名映射到Test去-->
    <!--<add key="XCode.ConnMaps" value="Common#Cube"/>-->
    <!--是否启用动态代码调试，把动态生成的实体类代码和程序集输出到临时目录，默认不启用-->
    <add key="XCode.Code.Debug" value="false"/>

    <!--选中项背景颜色-->
    <add key="XControl.GridViewExtender.SelectedRowBackColor" value="Pink"/>
    <add key="XControl.LinkBoxField.ClickedRowBackColor" value="DodgerBlue"/>

    <!--通用实体库配置-->
    <!--是否写实体日志，默认启用。对管理员、角色、菜单等实体操作时向日志表写操作日志-->
    <add key="NewLife.CommonEntity.WriteEntityLog" value="true"/>
    <!--应用目录，初始化菜单时将扫描这些目录，多个目录用逗号或者分号隔开-->
    <add key="NewLife.CommonEntity.AppDirs" value="Admin,Cube,Model"/>
    <add key="NewLife.CommonEntity.AppDirsFileFilter" value="Login.aspx,Main.aspx"/>
    <!--是否压缩ViewState-->
    <add key="NewLife.CommonEntity.CompressViewState" value="true"/>

    <!--Web配置-->
    <!--CompressionModule模版压缩的文件，逗号隔开-->
    <add key="NewLife.CommonEntity.CompressFiles" value=".aspx,.axd.,js"/>

    <!--模版引擎配置-->
    <!--是否启用调试，默认不启用-->
    <add key="XTemplate.Debug" value="false"/>

    <!--魔方配置-->
    <!--如果指定了模版目录，则采用文件模版提供者-->
    <add key="NewLife.Cube.TemplatePath" value="..\WebData\Template"/>
    <!--自定义表单默认连接名。-->
    <add key="NewLife.Cube.DefaultConnName" value="CustomForm"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="Cube" connectionString="Data Source=.;Initial Catalog=Cube;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
    <!--启用OLEDB连接池OLE DB Services=-1（EnableAll = -1）-->
    <!--<add name="Cube" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=~\App_Data\Cube.mdb;Persist Security Info=False;OLE DB Services=-1"/>-->
    <!--SQLite数据库-->
    <add name="Common" connectionString="Data Source=..\WebData\App_Data\Common.db;" providerName="Sqlite"/>
    <add name="Cube" connectionString="Data Source=..\WebData\App_Data\Cube.db;" providerName="Sqlite"/>
    <add name="CustomForm" connectionString="Data Source=..\WebData\App_Data\CustomForm.db;" providerName="Sqlite"/>
    <add name="MSSQLCommon" connectionString="Data Source=.;Initial Catalog=Common;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <pages>
      <controls>
        <add assembly="XControl" namespace="XControl" tagPrefix="XCL"/>
        <add tagPrefix="Sys" src="~/Admin/Ascx/SelectAdmin.ascx" tagName="SelectAdmin" />
      </controls>
    </pages>
    <httpModules>
      <!--压缩模块，用于压缩aspx页面，axd资源，css和js等-->
      <add name="CompressionModule" type="NewLife.Web.CompressionModule,NewLife.Core"/>
      <!--页面执行时间模块，用于在页面中输出页面执行时间和查询执行次数-->
      <add name="DbRunTimeModule" type="XCode.Web.DbRunTimeModule,XCode"/>
      <!--Mvc的路由处理器-->
      <add name="NewLife.Mvc" type="NewLife.Mvc.Route,NewLife.Mvc"/>
    </httpModules>
    <compilation debug="true"/>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
