<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="LotTick" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=LotTick.mdb;Persist Security Info=False"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
<appSettings>
  <add key="CustomerCompanyName" value="Asxinyu软件工作室"/>
  <add key="ConfigurationFrom" value="UserConfig"/>
  <add key="SoftName" value="LotTick智能验证预测系统"/>
  <add key="SoftFullName" value="管理系统"/>
  <add key="Version" value="0.6Beta" />
  <add key="RootMenuCode" value="DotNet.Common"/>
  <add key="CurrentLanguage" value="zh-CN"/>
  <add key="CalculateRows" value="1200" />
  <add key="LogOnTo" value="MySqlExample"/>
  <add key="LogOnTo" value="WebService"/>
  <add key="LogOnTo" value="P2PClient02" />
  <add key="LogOnTo" value="P2PClient03"/>
  <!--是否启用全局调试。默认为不启用-->
  <add key="NewLife.Debug" value="true"/>
  <!--是否启用调试，默认不启用。输出所有执行的SQL语句-->
  <add key="XCode.Debug" value="true"/>
  <!--是否启用数据架构，默认不启用。数据架构可以实现通过实体类反向更新数据库结构，不启用时，仅把更新SQL写入日志，如果留空则不做检查-->
  <add key="XCode.Schema.Enable" value="true"/>
  <!--是否启用不删除字段，默认不启用。删除字段的操作过于危险，这里可以通过设为true关闭-->
  <add key="XCode.Schema.NoDelete" value="false"/>
  <!--要排除的链接名，多个用逗号分隔，默认空。-->
  <add key="XCode.Schema.Exclude" value=""/>
  <!--选中项背景颜色-->
  <add key="XControl.GridViewExtender.SelectedRowBackColor" value="Pink"/>
</appSettings>
</configuration>