<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="YoungRunMIS" connectionString="Server=localhost;Database=YoungRunMIS; User=root;Password=111" providerName="mysql.data"/>
	   <add name="Common" connectionString="Server=localhost;Database=Authority; User=root;Password=111" providerName="mysql.data"/>
	<add name="access" connectionString="Server=localhost;Database=YoungRunMIS; User=root;Password=111" providerName="mysql.data"/>
	<add name="UserCenter" connectionString="Server=localhost;Database=UserCenter; User=root;Password=111" providerName="mysql.data"/>
    <add name="sqlite" connectionString="Data Source=test.db;" providerName="Sqlite"/>
        <add name="YoungRunST" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=STa.mdb;Persist Security Info=False"/>
	<add name="mssql" connectionString="Data Source=.;Initial Catalog=master;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>