<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AuthorityConn" connectionString="Server=127.0.0.1;Database=Authority; User=root;Password=111" providerName="mysql.data"/>
    <add name="ResouceCollector" connectionString="Server=127.0.0.1;Database=resourcecollector; User=root;Password=111" providerName="mysql.data"/>
    <add name="YoungRunMIS" connectionString="Server=192.168.1.30;Database=YoungRunMIS; User=root;Password=111" providerName="mysql.data"/>
	 <add name="YoungRunST" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=ST.mdb;Persist Security Info=False"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
<appSettings>		
	<add key="CustomerCompanyName" value="宁波永润石化-数据管理系统-测试版"/>
	<add key="DevelopNameInfo" value="技术部开发维护(董斌辉)"/>
	<add key="TestInfo" value="测试期间，发现问题详细记载并通知开发人员"/>
	<add key="ConfigurationFrom" value="UserConfig"/>
	<add key="SoftName" value="DotNet"/>
	<add key="SoftFullName" value="管理系统"/>
	<add key="Version" value="3.3" />
	<add key="RootMenuCode" value="DotNet.Common"/>
	<add key="CurrentLanguage" value="zh-CN"/>
</appSettings>
</configuration>