<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <connectionStrings>
    <add name="ResourceConn" connectionString="Server=192.168.1.47;Database=resourcecollector;Uid=root;Pwd=yrshabc123;" providerName="MySql.Data.MySqlClient"/>
    <add name="StudentConn" connectionString="Data Source=.;Initial Catalog=efsbase;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="ResourceConn" connectionString="server=192.168.1.47;Initial Catalog=efsbase;User Id=sa;Password=abc-123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
</configuration>