<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="WebHostUrl" value="WebHostUrl1" />
    <add key="Service" value="DotNet.Service" />
    <add key="DbType" value="SqlServer" />
    <add key="EncryptDbConnection" value="False" />
    <add key="UserCenterDbConnection" value="Data Source=localhost;Initial Catalog=UserCenterV36;User Id = sa ; Password = abc-123;" />
    <add key="WorkFlowDbConnection" value="Data Source=localhost;Initial Catalog=WorkFlowV36;User Id = sa ; Password = abc-123;" />
    <add key="BusinessDbConnection" value="Data Source=localhost;Initial Catalog=UserCenterV36;User Id = sa ; Password = abc-123;" />
    <add key="CustomerCompanyName" value="杭州海日涵科技有限公司" />
    <add key="SoftName" value="Water" />
    <add key="SoftFullName" value="单点登录系统" />
    <add key="CompanyName" value="杭州海日涵科技有限公司" />
    <add key="Update" value="2012.01.29" />
    <add key="BugFeedback" value="JiRiGaLa_Bao@hotmail.com" />
    <add key="AfterLogOnPage" value="Work.aspx" />
    <add key="RecordLog" value="True" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="ImagesURL" value="UploadFiles" />
    <!-- 这里是设置，读取哪个系统的菜单 -->
    <add key="SystemCode" value="Base" />
    <!-- 这里是设置，读取哪个子系统的菜单 -->
    <add key="RootMenuCode" value="WorkFlowSystem" />
    <!-- 不检查在线状态 -->
    <add key="CheckOnLine" value="False" />
    <!-- 加密的方式存储密码 -->
    <add key="EncryptPassword" value="True" />
    <!-- 客户端加密存储密码 -->
    <add key="ClientEncryptPassword" value="True" />
    <!-- 服务器端加密存储密码 -->
    <add key="ServerEncryptPassword" value="True" />
    <add key="sysLeftWidth" value="180" />
    <add key="sysTopOpenHeight" value="167" />
    <add key="sysTopOffHeight" value="50" />
    <add key="isViewHelp" value="1" />
  </appSettings>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="480" />
    <httpRuntime maxRequestLength="400000" useFullyQualifiedRedirectUrl="true" executionTimeout="45" />
    <authentication mode="Forms" />
    <customErrors mode="Off" />
    <identity impersonate="true" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
        <globalization fileEncoding="utf-8" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <urlCompression doStaticCompression="false" doDynamicCompression="false" />
  </system.webServer>
</configuration>