<?xml version="1.0"?>
<configuration>
<connectionStrings>
    <add name="LotTick" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source=LotTick.mdb;Persist Security Info=False"/>   
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <MySection111>
    <add username="fish-li" url="http://www.cnblogs.com/fish-li/"></add >    
  </MySection111>
</configuration>
