<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <connectionStrings>  
    <add name="StudentConn" connectionString="Data Source=.;Initial Catalog=efsbase;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="ResourceConn" connectionString="Data Source=.;Initial Catalog=efsbase;Integrated Security=True;" providerName="System.Data.SqlClient"/>  
  </connectionStrings>
  
</configuration>
