<?xml version="1.0"?>
<configuration>
	<connectionStrings>
    <add name="Common" connectionString="Server=192.168.1.47;Database=Bioinfodb2;Uid=root;Pwd=yrshabc123;" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
